header{
	min-height: 100px;
	position: fixed;
	z-index: 1000;
	top: $pad*1.5;
	width: calc(100% - 120px);
	.title{
		height: 100%;
		position: relative;
		float: left;
		padding: $pad/2;
		top: -$pad/2;
		left: -$pad/2;
		background-color: $color-black;
		a{
			letter-spacing: .075rem;
			font-size: 1.5rem;
		}
	}
	.navigation{
		float: right;
		padding: 15px;
		margin-top: -$pad/2;
		margin-right: -$pad/2;
		background-color: $color-black;
		nav{
			ul{
				li{
					display: inline-block;
					a{
						padding: .5rem;
						letter-spacing: .05rem;
						&:hover{
							cursor: url(../assets/ui/plus-cursor.png) 50 50, auto;
						}
					}					
				}
			}
		}
	}
}
@include breakpoint(mobile){
	header{
		width: calc( 100% + 15px);
		top: 0;
		left: -$pad/2;
		.title{
			width: 100%;
			text-align: center;
			left: 0;
			padding: $pad*1.5 0 0 0;
		}
		.navigation{
			float: none;
			padding: 0 0 $pad/2 0;
			margin: 0;
			text-align: center;
		}
	}
}